.grey {
  opacity: 0.5;
}
.forwardLink {
  float: right;
}

.link {
  composes: forwardLink;
  color: #5691f0;
  cursor: pointer;
}

.divisionList {
  margin-bottom: 10px;
}

.docLinkWrapper {
  margin-bottom: 10px;
  font-size: 26px;
}

.docLink {
  margin-left: 15px;
  font-size: 14px;
  color: #22a4ff;
  text-decoration: none;
  vertical-align: middle;
  &:hover {
    text-decoration: underline;
  }
}
