.pagination {
  display: block;
  margin: 20px auto;
  max-width: 440px;
}

.g-pagination {
  margin: 10px auto;
  display: inline-block;

  ul {
    display: inline-block;
  }

  .page {
    display: inline-block;
    border: 1px solid #cbcbcb;
    text-align: center;
    user-select: none;

    &.truncated {
      border: none;
      width: 34px;

      &:hover {
        background: none;
        border: none;
      }

      + .truncated {
        display: none;
      }
    }

    a {
      text-align: center;
      text-decoration: none;
      color: black;
      display: block;
      min-width: 26px;
      font-size: 12px;
      line-height: 20px;
      padding: 4px;
    }

    + .page {
      margin-left: 10px;
    }

    &.s-current,
    &:hover {
      border: #eee 1px solid;
      background: #f7f6f6;
      font-weight: 700;
    }
  }

  .g-pagination-prev {
    margin-right: 10px;
  }

  .g-pagination-next {
    margin-left: 10px;
  }

  .g-pagination-prev,
  .g-pagination-next {
    &.s-hidden {
      visibility: hidden;
    }

    a {
      width: 48px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      vertical-align: middle;
      padding: 0;
    }
  }
}
