{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "__DEV__": true,
    "__CLIENT__": true,
    "__REDUX_STATE__": true
  },
  "plugins": [
    "prettier",
    "chai-expect"
  ],
  "rules": {
    "prettier/prettier": "error",
    "chai-expect/missing-assertion": "error",
    "chai-expect/terminating-properties": "warn"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  }
}
