.list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  line-height: 22px;
  font-size: 16px;

  .dt {
    flex-basis: 150px;
    padding-right: 5px;
  }

  .dd {
    flex-basis: calc(100% - 150px);
  }

  .dt,
  .dd {
    margin-bottom: 26px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &_theme_min {
    font-size: 14px;

    .dt,
    .dd {
      margin-bottom: 5px;
    }
  }
}
