.list {
  display: block;
  line-height: 22px;
  font-size: 16px;

  dt {
    width: 150px;
  }

  dd {
    margin-bottom: 26px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  dt,
  dd {
    float: left;
    padding-left: 5px;
  }

  dd + dt,
  dd + dd {
    clear: left;
  }

  dd + dd {
    float: none;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }

  &_theme_min {
    font-size: 14px;

    dd {
      margin-bottom: 5px;
    }
  }
}
