.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;

  &__content {
    margin: auto;
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;
  }

  .header {
    margin-bottom: 32px;
  }

  .form {
    max-width: 420px;
    margin: 0 auto;
  }
}
