.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
  //background: url('/images/bg-login.jpg') center no-repeat;
  background-size: cover;

  &__content {
    margin: auto;
    width: 548px;
    background-color: #2b4060;
    padding: 72px;
  }

  .header {
    margin-bottom: 52px;

    img {
      height: 42px;
    }
  }

  .form {
    max-width: 380px;
    margin: 0 auto;
  }
}
