.back {
  margin-bottom: 30px;
  font-size: 16px;

  a {
    color: #18253a;
    text-decoration: none;
  }

  i {
    color: #5691f0;
    margin-right: 16px;
  }
}

.pagination {
  margin-top: 43px;
}
