.buttons {
  width: 630px;
  margin-top: 40px;

  &__row {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;
    justify-content: space-between;
  }

  &__column {
    flex: 0 1 48%;
  }
}
