.table {
  margin-top: 30px;

  &__title {
    margin: 20px 0;
  }

  .name {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;

    p {
      font-size: 11px;
      line-height: 1.1;
      color: #929499;
    }
  }
}

.filter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 20px;

  & > div {
    flex: 1 1 50%;

    &:first-of-type {
      margin-right: 20px;
    }
  }
}

.pagination {
  margin-top: 43px;
  text-align: center;
}
