.date {
  flex-basis: 100%;
  margin-top: 10px;
  display: flex;
  z-index: 1000;

  &__single,
  &__filter {
    z-index: 1000;
    flex-basis: 50%;
  }

  &__filter {
    margin-top: 10px;
    padding-right: 20px;
  }
}
