.main {
  &__nav {
    display: inline;
  }
}

.button {
  font-size: 14px;
  font-weight: 700;
  color: #22a4ff;

  &_default {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
  }

  span {
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
  }

  &_active span {
    transform: rotate(180deg);
  }
}

.more {
  display: none;
  margin-top: 20px;

  &_show {
    display: inline-block;
  }

  &_show_block {
    display: block;
  }

  &_nav {
    margin-top: 0;
  }
}
