.button {
  font-size: 14px;
  font-weight: 700;
  color: #22a4ff;

  span {
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
  }

  &_active span {
    transform: rotate(180deg);
  }
}

.more {
  display: none;
  margin-top: 20px;

  &_show {
    display: block;
  }
}
