.table {
  margin-top: 30px;

  .name {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
  }
}

.status {
  color: #22a4ff;

  &_verified {
    color: #13db63;
  }
}
