.edrpou {
  float: right;
  font-size: 13px;
  line-height: 32px;
  color: #929499;
  text-transform: uppercase;
}

.sub {
  color: #929499;
  margin-top: -10px;
}

.form {
  font-size: 12px;
}

.list {
  font-size: 13px;

  li > span {
    display: block;
    color: #929499;
    font-size: 12px;
  }

  li {
    display: inline-block;
    margin: 0 20px 10px 0;
  }
}

.boxes {
  display: flex;
  flex-flow: row nowrap;

  & > div {
    margin-right: 100px;

    &:last-child {
      margin-right: 0;
      flex: 1 1 auto;
    }
  }
}

.line-list {
  display: inline-block;

  li {
    display: inline-block;
    padding-right: 5px;
  }
}

dl {
  dt {
    display: inline-block;
    min-width: 90px;
  }

  dd {
    display: inline;

    &::after {
      content: '';
      display: block;
      margin-bottom: 5px;
    }
  }
}

.upper {
  text-decoration: none;
  text-transform: uppercase;
}
