.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  & > div {
    flex: 1 1 50%;
  }

  .right {
    text-align: right;
  }
}

.bold {
  font-weight: 700;
}

.address {
  small {
    font-weight: 400;
    font-size: 14px;
  }
}

.button {
  font-size: 14px;
  font-weight: 700;
  color: #22a4ff;

  span {
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
  }

  &_active span {
    transform: rotate(180deg);
  }
}

.documents {
  margin-top: 14px;
}

.edrpou {
  float: right;
  font-size: 13px;
  line-height: 32px;
  color: #929499;
  text-transform: uppercase;
}

.buttons {
  width: 630px;
  margin-top: 40px;

  &__row {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;
    justify-content: space-between;
  }

  &__column {
    flex: 0 1 48%;
  }
}
