.paging {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 16px;
  border: 1px solid #dfdede;
  width: 100px;
  height: 36px;
  line-height: 34px;
  margin: 0 auto;

  &__item {
    flex: 1 1 auto;
    font-size: 12px;
    text-align: center;
    vertical-align: top;

    a {
      display: block;
      color: #dfdede;

      &:hover {
        color: #555;
      }
    }

    &:first-child {
      border-right: #dfdede 1px solid;
    }
  }

  &__item_disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
